# Dependencies
node_modules/
voltix-engine/node_modules/
voltix-engine/dist/
ui-v2/node_modules/
ui-v2/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
.env.*
.vercel
src.zip
src-backup-*/
